@import './mixins';

.aboutSection{
    @include gradiant2;
    width: 100vw;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 8vh 0vw;

    @media screen and (min-width: 1024px) {
        width: 100vw;
        height: 150vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 20vh 10vw;
    }

}

.imageContainer{
    width: 90vw;
    height: 40vh;
    display: flex;
    align-items: end;
    justify-content: right;
    margin-bottom: 3vh;
    transform: translateX(-15px);
    transition:  opacity 1.5s ease-out, transform 1.5s ease-out;


    @media screen and (min-width: 390px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 700px) {
        margin-bottom: 5vh;
    }

    @media screen and (min-width: 1024px) {
        width: 30vw;
        height: auto;
        display: flex;
        justify-content: left;
        margin-bottom: 0vh;
    }
}

.imageContainer.visibleImage{
    opacity: 1;
    transform: translateX(0);
}

.image{
    width: 30vw;
    height: auto;
    margin-right: 10vw;

    @media screen and (min-width: 390px) {
        width: 35vw;
        height: auto;
        margin-right: 5vw;
    }

    @media screen and (min-width: 700px) {
        width: 28vw;
    }

    @media screen and (min-width: 1024px) {
        width: 70%;
        height: auto;
        display: flex;
        justify-content: left;
        margin-bottom: 0vh;
    }
}

.textWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: left;
    width: 90vw;
    height: fit-content;
    margin-top: 0;
    transform: translateX(-15px);
    transition:  opacity 1.5s ease-out, transform 1.5s ease-out;

    h1{
      @include orange();
      font-family: var(--font-onest);
      font-weight: 300;
      letter-spacing: 3px;
      font-size: 1rem;
      line-height: 2rem;
      text-align: left;
      margin-bottom: 0;

      @media screen and (min-width: 1024px) {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    @media screen and (min-width: 1900px) {
        font-size: 1.2rem;
        line-height: 1rem;
    }
    }

    h2{
        text-align: left;
        letter-spacing: 6px;
        margin-bottom: 0px;
        font-size: 1.5rem;
        line-height: 2.5rem;
        width: 100%;

        @media screen and (min-width: 700px) {
            font-size: 1.8rem;
            line-height: 3rem;
        }

        @media screen and (min-width: 1024px) {
            font-size: 1.4rem;
            line-height: 2.2rem;
        }

        @media screen and (min-width: 1900px) {
            font-size: 2.2rem;
            line-height: 3.5rem;
        }
    }

    p{
        text-align: left;
        font-size: 1rem;
        width: 100%;
        line-height: 2rem;
        margin-bottom: 5px;
        margin-top: 5px;
        letter-spacing: 3px;

        @media screen and (min-width: 1024px) {
            font-size: 0.8rem;
            line-height: 1.8rem;
        }

        @media screen and (min-width: 1900px) {
            font-size: 1.2rem;
            line-height: 2.5rem;
        }
    }

    @media screen and (min-width: 700px) {
        width: 75vw;
    }

    @media screen and (min-width: 1024px) {
        width: 45vw;
        height: fit-content;
    }
}

.toggleBtn{
    border: 0;
    padding: 0;
    font-size: 1rem;
    font-family: var(--font-onest);
    display: flex;
    align-items: center;
    justify-content: center;
    @include textColor();
    height: 44px;
    background-color: transparent;
    letter-spacing: 3px;

    span{
        height: 24px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 0.8rem;
        line-height: 0.8rem;
    }

    @media screen and (min-width: 1900px) {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}

.moreText{
    max-height: 0;
    overflow: hidden;

    opacity: 0;
    transform: translateY(10px);

    transition:
    max-height 0.6s ease,
    opacity 0.4s ease,
    transform 0.4s ease;

    pointer-events: none;
}

.moreText.open {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);

    pointer-events: auto;
}

.iconRow{
    width: 300px;
    height: fit-content;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 30px 0;
    opacity: 0;
    transform: translateY(6px);
    transition: opacity 0.4s ease 0.2, transform 0.4s ease 0.2s;
}

.moreText.open .iconRow{
    opacity: 1;
    transform: translateY(0);
}

.textWrapper.visibleText{
    opacity: 1;
    transform: translateX(0);
}

.textWrapper p,
.textWrapper h1,
.textWrapper h2,
.textWrapper .toggleBtn {
    opacity: 0;
    transform: translateX(-15px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.textWrapper.visibleText p{
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.7s;
}

.textWrapper.visibleText h1{
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.7s;
}

.textWrapper.visibleText h2{
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.7s;
}

.textWrapper.visibleText .toggleBtn{
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.7s;
}


.Icon{
    @include iconsOrange();
    margin: 5px  10px;
    width: 20px;
    height: auto;

    &:hover{
        animation: icons 1s ease-in-out forwards;
      }
    }      

@keyframes icons {

    0% {transform: scale(1);}
    100% {transform: scale(1.1);}
    
}



  
    
  
