@import './mixins';

.aboutSection{
    @include gradiant2;
    width: 100vw;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 50px 0vw;

    @media screen and (min-width: 1024px) {
        width: 100vw;
        height: 100vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 50px 10vw;
    }


}

.imageContainer{
    width: 90vw;
    height: 40vh;
    display: flex;
    align-items: end;
    justify-content: right;
    margin-bottom: 3vh;

    @media screen and (min-width: 390px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 700px) {
        margin-bottom: 5vh;
    }

    @media screen and (min-width: 1024px) {
        width: 30vw;
        height: auto;
        display: flex;
        justify-content: left;
        margin-bottom: 0vh;
    }
}

.image{
    width: 35vw;
    height: auto;
    margin-right: 10vw;

    @media screen and (min-width: 390px) {
        width: 40vw;
        height: auto;
        margin-right: 10vw;
    }

    @media screen and (min-width: 700px) {
        width: 28vw;
    }

    @media screen and (min-width: 1024px) {
        width: 70%;
        height: auto;
        display: flex;
        justify-content: left;
        margin-bottom: 0vh;
        background-color: pink;
    }
}

.textWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: left;
    width: 90vw;
    height: 60vh;
    height: fit-content;
    margin-top: 0;

    h1{
      @include orange();
      font-family: var(--font-onest);
      font-weight: 300;
      letter-spacing: 3px;
      font-size: 1rem;
      line-height: 2rem;
      text-align: left;
      margin-bottom: 0;

      @media screen and (min-width: 1024px) {
        font-size: 0.8rem;
        line-height: 0.8rem;
    }
    }

    h2{
        text-align: left;
        letter-spacing: 5px;
        margin-bottom: 0px;
        font-size: 1.5rem;
        line-height: 2.0rem;
        width: 100%;

        @media screen and (min-width: 1024px) {
            font-size: 1.2rem;
            line-height: 2rem;
        }
    }

    p{
        text-align: left;
        font-size: 1rem;
        width: 100%;
        line-height: 2rem;
        margin-bottom: 10px;
        margin-top: 5px;
        letter-spacing: 2px;

        @media screen and (min-width: 1024px) {
            font-size: 0.8rem;
            line-height: 1.6rem;
        }
    }

    @media screen and (min-width: 700px) {
        width: 75vw;
    }

    @media screen and (min-width: 1024px) {
        width: 45vw;
        height: auto;
    }
}

.iconRow{
    width: 90vw;
    height: fit-content;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 10px 0;
}

.toggleBtn{
    border: 0;
    padding: 0;
    font-size: 1rem;
    font-family: var(--font-onest);
    display: flex;
    align-items: center;
    justify-content: center;
    @include textColor();
    height: 44px;
    background-color: transparent;
    letter-spacing: 2px;

    span{
        height: 24px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 0.8rem;
        line-height: 0.8rem;
    }
}

.show{
   animation: slideIn 0.3s ease-in;
}

@keyframes slideIn {
    0% { transform: translateY(-3px);
         opacity: 0.5;

    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    } 
}

.hidden{
    animation: slideOut 0.3s ease-in;
}

@keyframes slideOut {
    0% { transform: translateY(0px);
         opacity: 0.5;

    }
    100% {
        transform: translateY(-3px);
        opacity: 1;
    }
}

.Icon{
    @include iconsOrange();
    margin: 5px  10px;
    width: 20px;
    height: auto;

    &:hover{
        animation: icons 1s ease-in-out forwards;
      }
    }      

@keyframes icons {

    0% {transform: scale(1);}
    100% {transform: scale(1.1);}
    
}



  
    
  
