@import './mixins';

.downloadRing {
  @include btnRing();
  }

.downloadBtn {
  @include button();
  }

  //Text & Icon
  .downloadBtn > * {
  @include btnText;
  }

  .downloadBtn::before{
   @include btnBefore();
  }

  .downloadBtn:hover {
    @include btnHover();
  }

.aboutSection{
    @include gradiant2;
    width: 100vw;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 50px 0vw;
}

.btnDiv{
    display: flex;
    justify-content: space-between;
    width: 330px;
}

.image{
    width: 25vw;
    height: auto;
}

.textWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: left;
    width: 90vw;
    height: fit-content;

    h2{
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 5px;
        margin-top: 20px;
        font-size: 1.3rem;
    }

    p{
        text-align: center;
        font-size: 1rem;
        width: 100%;
        line-height: 1.8rem;
        margin-bottom: 10px;
    }
}

.iconRow{
    width: 70vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.btnDiv{
    display: flex;
    width: 80vw;
}

.projectBtn{
    margin: 5px 10px;
    @include themeBtn();

    &:hover {
        transform: scale(1.02);
      }
}


.Icon{
    @include iconsOrange();
    margin: 5px  10px;
    width: 20px;
    height: auto;

    &:hover{
        animation: icons 1s ease-in-out forwards;
      }
    }      

@keyframes icons {

    0% {transform: scale(1);}
    100% {transform: scale(1.1);}
    
}

// larger phone
@media screen and (min-width: 500px) {
    .btnDiv{
        width: 400px;
    }
}


// ipad
@media screen and (min-width: 767px) {

    .image{
        width: 26vw;
    }
    
    .textWrapper{
        margin-top: 10px;
    
        h2{
            font-size:clamp(1.5rem, 2.4vw, 2.5rem);
            line-height: clamp(1.8rem, 3.5vw, 3rem);
        }
    
        p{
            font-size: clamp(0.8rem, 1.8vw, 1.5rem);
            letter-spacing: clamp(1px, 0.5vw, 7px);
            width: 75vw;
        }
    }

    .btnDiv{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        width: 420px;
    }
    
    .projectBtn{
        margin: 15px 10px;
    }

    .iconRow{
        width: 45vw;
    }
    
    
    .Icon{
        margin: 5px  20px;
        width: 30px;
        }      
}

   // small desctop
   @media screen and (min-width: 1024px) {

    .aboutSection{
        @include gradiant2;
        width: 100vw;
        margin: auto;
        height: 100vh;
        display: flex;
        flex-direction:row;
        justify-content:space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 10vh 70px;
    }

    .imageContainer{
        width: 30vw;
        text-align: center;
    }
    
    .image{
        width: 20vw;
        height: auto;
    }
    
    .textWrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items:baseline;
        justify-content: left;
        width: clamp(500px, 50vw, 1000px);
        height: fit-content;
        margin-right: 50px;
    
        h2{
            font-size:clamp(1rem, 2.4vw, 2.5rem);
            line-height: clamp(1.8rem, 3.5vw, 3rem);
            letter-spacing: clamp(8px, 2.4vw, 10px);
            margin-bottom: 5px;
        }
    
        p{
            text-align: left;
            font-size: clamp(0.8rem, 1.3vw, 1.5rem);
            line-height: clamp(1.6rem, 2.7vw, 3rem);
            margin-bottom: 10px;
            width: 100%;
            letter-spacing: 3px;
        }
    }
    
    .iconRow{
        margin: 5px 0 ;
        width: 28vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .btnDiv{
        width: clamp(480px, 35vw, 480px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px;
        margin-right: 20px;
    }
    
    .Icon{
        margin: 10px 30px 10px 0px;
        width: 30px;
        }      
   }

      //// extra large desctop
      @media screen and (min-width: 3200px) {
      
        .aboutSection{
            padding: 10vh 100px;
        }
    
        .imageContainer{
            width: 30vw;
            text-align: center;
        }
        
        .image{
            width: 25vw;
            height: auto;
        }
        
        .textWrapper{
            width: 40vw;
        
            h2{
                font-size: 3.5rem;
                margin-bottom: 50px;
            }
        
            p{
                font-size: 2rem;
                line-height: 3.5rem;
                margin-bottom: 50px;
            }

       }

       .iconRow{
        width: 20vw;
       }

       .Icon{
        margin: 10px 30px 10px 0px;
        width: 60px;
        }  
        
        .btnDiv{
            width: 850px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0px;
            margin-right: 20px;
            font-size: 1.2rem;
        }

    }


