@import './mixins';

/* buttonBubble.module.scss */

.downloadRing{
  @include btnRing();
}

.buttonBubble {
    @include button;
  }

.buttonBubble > * {
  @include btnText;
}  

.buttonBubble::before{
  @include btnBefore();
}  

.buttonBubble:hover{
  @include btnHover();
}  





  