@import '../styles/mixins.scss';

//For Cards
.cardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  
    overflow-x: auto;
    overflow-y: hidden;
  
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  
    padding-inline: 1rem;
  
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    @media (min-width: 767px) {
        justify-content: space-evenly;
        width: 90%;
        margin: auto 5%;
        overflow-x: visible;
        overflow-y: visible;
        padding: 0;
    }

    @media (min-width: 1250px) {
        width: 60vw;
        margin: auto;
    }

    @media (min-width: 1500px) {
        width: 50vw;
    }

   
}

.card{
    @include card();
    transition: transform 0.3s ease;
    

    .visibleContainer,
    .hiddenContainer{
        transition: opacity 0.3s ease;
    }

    .visibleContainer{
        opacity: 1;
        visibility: visible;
    }

    .hiddenContainer{
       opacity: 0;
       visibility: hidden;
    }

    &:hover {
      transform: scale(1.01); 

      .visibleContainer{
        opacity: 0;
        visibility: hidden;
    }

    .hiddenContainer{
       opacity: 1;
       visibility: visible;
    }
    }
}
    
       



//Web 3 lock container

.lockContainer{
    @include GlassWindow;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    left: 0;
    top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    h2{
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 500;
    }

    p{
        font-size: 1rem;
        line-height: 1.8rem;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

:global(.wallet-adapter-button-trigger) {
    background: linear-gradient(
        0deg,
        var(--color-pink),
        var(--color-orange)
      );
    color: var(--color-red);
    font-family: var(--font-onest);
    font-weight: 500;
    font-size: 1rem !important; 
    padding: 8px 20px;  
    margin: 10px 0 30px 0; 
    border-radius: 50px;
    transition: transform 0.2s ease;
  
    &:hover {
      transform: scale(1.03);
      background-color: var(--color-orange) !important;
    }
  }

.noWallet{
   color: rgba(50, 50, 50, 0.755);
   font-size: 12px !important;
   line-height: 15px !important;
    
    button{
        @include textColor;
        background-color: transparent;
        font-size: 12px !important;
        margin: 0;
        font-family: var(--font-onest);
        font-weight: 800;
        cursor: pointer;
        border: 0;
        padding: 0;

        &:hover{
            transform: scale(1.03);
        }
    }
}

.web3CardsContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0rem;
    justify-content:space-evenly;
    align-items: center;
    overflow-y: scroll;
    overflow-y: auto; 
    padding: 100px 0px;
    box-sizing: border-box;

    @media (max-width: 680px) {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 50px 0px;
      }
}


