@import '../styles/mixins.scss';

//For Cards
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 20px;
}

.card{
    @include card();
    transition: transform 0.3s ease;
    

    .visibleContainer,
    .hiddenContainer{
        transition: opacity 0.3s ease;
    }

    .visibleContainer{
        opacity: 1;
        visibility: visible;
    }

    .hiddenContainer{
       opacity: 0;
       visibility: hidden;

       p{
        font-size: 0.8rem;
        line-height: 25px;
        width: 95%;
        margin: 0 auto;
       }

       @media (max-width: 1024px) {
        height: 220px;
        width: 300px;
      }

      @media (max-width: 1504px) {
        height: 300px;
        width: 450px;
      }


    }

    &:hover {
      transform: scale(1.01); 

      .visibleContainer{
        opacity: 0;
        visibility: hidden;
    }

    .hiddenContainer{
       opacity: 1;
       visibility: visible;
    }
    }
}
    
       

//modal styling
.moduleContainer{
    width: 100%;
    display: flex;
}

.imgContainer{
    width: 50%;
    padding-left: 35px;
}

.image{
    width: 100%;
    padding-left: 0;
    margin-left: 0;
}


.textContainer{
    width: 50%;
}

h1{
   font-size: 30px;
   margin-bottom: 5px;
   font-family: var(--font-onest);
}

.roleContainer{

    margin-bottom: 20px;

    p{
        margin: 0;
        font-size: 16px;
    }
}

h2{
    font-size: 22px;
    margin: 30px 0 0px 0;
}

h3{
    font-size: 18px;
    margin: 5px 0px;
}

p{
    font-size: 16px;
    margin: 5px 0px 20px 0px;
}


//Web 3 lock container

.web3Wrapper{
   position: relative; 
   width: 90vw;
   height: 60vh;
   box-sizing: border-box;
}

.lockContainer{
    @include GlassWindow;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    left: 0;
    top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    h2{
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 500;
    }

    p{
        font-size: 1rem;
        line-height: 1.8rem;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

:global(.wallet-adapter-button-trigger) {
    background: linear-gradient(
        0deg,
        var(--color-pink),
        var(--color-orange)
      );
    color: var(--color-red);
    font-family: var(--font-onest);
    font-weight: 500;
    font-size: 1rem !important; 
    padding: 8px 20px;  
    margin: 10px 0 30px 0; 
    border-radius: 50px;
    transition: transform 0.2s ease;
  
    &:hover {
      transform: scale(1.03);
      background-color: var(--color-orange) !important;
    }
  }

.noWallet{
   color: rgba(50, 50, 50, 0.755);
   font-size: 12px !important;
   line-height: 15px !important;
    
    button{
        @include textColor;
        background-color: transparent;
        font-size: 12px !important;
        margin: 0;
        font-family: var(--font-onest);
        font-weight: 800;
        cursor: pointer;
        border: 0;
        padding: 0;

        &:hover{
            transform: scale(1.03);
        }
    }
}

.web3CardsContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0rem;
    justify-content:space-evenly;
    align-items: center;
    overflow-y: scroll;
    overflow-y: auto; 
    padding: 100px 0px;
    box-sizing: border-box;

    @media (max-width: 680px) {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 50px 0px;
      }
}


//Preview modal
.background{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 6000;
    background-color: rgba(0, 0, 0, 0.623);
    height: 100vh;
    width: 100vw;
}

.modal{
    position: fixed;
    height: fit-content;
    width: 90vw;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    button{
      align-self: start;
      border: 0;
      background-color: transparent;
      font-size: 20px;
      padding: 10px;
      cursor: pointer;
      transition: transform 1s ease;

      &:hover{
        transform:scale(1.2);
      }
    }

    video{
        width: 300px;
        height: 180px;
        align-self: center;
        margin: 50px 20px;

        @media (min-width: 650px) {
            width: 500px;
            height: 350px;
        }

        @media (min-width: 900px) {
            width: 660px;
            height: 400px;
        }
    }
}




