@import '../styles/mixins.scss';

//For Cards
.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;
    width: 80vw;
    height: fit-content;
    margin-top: 2vh;
    border-radius: 20px;

    @media (min-width: 760px) {
        height: fit-content;
        flex-direction: row;
    }

    @media (min-width: 1250px) {
        width: 60vw;
    }

    @media (min-width: 1500px) {
        width: 50vw;
    }

    @media (min-width: 1900px) {
        width: 40vw;
    }
}

.card{
    @include card();
    transition: transform 0.3s ease;
    

    .visibleContainer,
    .hiddenContainer{
        transition: opacity 0.3s ease;
    }

    .visibleContainer{
        opacity: 1;
        visibility: visible;
    }

    .hiddenContainer{
       opacity: 0;
       visibility: hidden;
    }

    &:hover {
      transform: scale(1.01); 

      .visibleContainer{
        opacity: 0;
        visibility: hidden;
    }

    .hiddenContainer{
       opacity: 1;
       visibility: visible;
    }
    }
}
    
       





//Preview modal
.background{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 6000;
    background-color: rgba(0, 0, 0, 0.623);
    height: 100vh;
    width: 100vw;
}

.modal{
    position: fixed;
    height: fit-content;
    width: 90vw;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    button{
      align-self: start;
      border: 0;
      background-color: transparent;
      font-size: 20px;
      padding: 10px;
      cursor: pointer;
      transition: transform 1s ease;

      &:hover{
        transform:scale(1.2);
      }
    }

    video{
        width: 300px;
        height: 180px;
        align-self: center;
        margin: 50px 20px;

        @media (min-width: 650px) {
            width: 500px;
            height: 350px;
        }

        @media (min-width: 900px) {
            width: 660px;
            height: 400px;
        }
    }
}




