@import '../styles/mixins.scss';

//For Graphics
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 20px;
}

.card{
    @include card();
    transition: transform 0.3s ease;
    height: 170px;
    width: 350px;
    

    .visibleContainer,
    .hiddenContainer{
        transition: opacity 0.3s ease;
    }

    .visibleContainer{
        opacity: 1;
        visibility: visible;
    }

    .hiddenContainer{
       opacity: 0;
       visibility: hidden;

       p{
        font-size: 0.8rem;
        line-height: 25px;
        width: 95%;
        margin: 0 auto;
       }
    }

    &:hover {
      transform: scale(1.01); 

      .visibleContainer{
        opacity: 0;
        visibility: hidden;
    }

    .hiddenContainer{
       opacity: 1;
       visibility: visible;
    }
    }
}

 //Ipad
 @media screen and (orientation:portrait) and (min-width: 767px) {
    .card{
        transition: transform 0.3s ease;
        height: 210px;
        width: 350px;
    }
}

   // small desctop
   @media screen and (min-width: 1024px) and (max-width: 1439px) {
    .card{
        transition: transform 0.3s ease;
        height: 200px;
        width: 320px;
    }
   }

      // small desctop
      @media screen and (min-width: 1440px) {
        .card{
            transition: transform 0.3s ease;
            height: 215px;
            width: 360px;
        }
       }































//modal styling

.moduleContainer{
    width: 100%;
    display: flex;
}

.imgContainer{
    width: 50%;
    padding-left: 35px;
}

.image{
    width: 100%;
    padding-left: 0;
    margin-left: 0;
}


.textContainer{
    width: 50%;
}

h1{
   font-size: 30px;
   margin-bottom: 5px;
   font-family: var(--font-onest);
}

.roleContainer{

    margin-bottom: 20px;

    p{
        margin: 0;
        font-size: 16px;
    }
}

h2{
    font-size: 22px;
    margin: 30px 0 0px 0;
}

h3{
    font-size: 18px;
    margin: 5px 0px;
}

p{
    font-size: 16px;
    margin: 5px 0px 20px 0px;
}


//Web 3 lock container
.lockContainer{
    background-color: rgba(255, 255, 255, 0.594);
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin: auto;
    left: 0;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    color: black;
}


.loggedInContent{
 width: 80vw;
 overflow-y: auto;  
 border-radius: 20px;
 display: flex;
 flex-direction: column;
 padding: 15px;
 box-sizing: border-box;
}

.web3CardsContainer{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;   
    background-color: pink;
}







// @media screen and (max-width: 1100px) {

//     .card{
//         height: 140px;
//         width: 250px;

//         .visibleContainer{

//             h4{
//                 font-size: 20px;
//             }
//         }

//         .hiddenContainer{

//             p{
//                 font-size: 16px;
//             }
//         }
//     }
// }

// @media screen and (max-width: 950px) {
//     .moduleContainer{
//         width: 90%;
//         margin: auto;
//         display: flex;
//         flex-direction:column-reverse;
//     }

//     .imgContainer{
//         width: 90%;
//         margin: auto;
//         padding-left: 0px;
//         align-items: center;
//     }

//     .textContainer{
//         width: 100%;
    
//         img{
//             background-color: pink;
//         }
//     }
// }



// @media screen and (max-width: 850px) {

//     .cardContainer{
//         display: flex;
//         flex-direction: column;
//         justify-content: space-evenly;
//         align-items: center;
//     }
// }

// @media screen and (max-width: 800px) {
//     h1{
//         font-size: 24px;
//         margin-bottom: 5px;
//         font-family: var(--font-onest);
//      }
     
//      .roleContainer{
     
//          margin-bottom: 20px;
     
//          p{
//              margin: 0;
//              font-size: 14px;
//          }
//      }
     
//      h2{
//          font-size: 18px;
//          margin: 30px 0 0px 0;
//      }
     
//      p{
//          font-size: 14px;
//          margin: 5px 0px 20px 0px;
//      }
// }

// @media screen and (max-width: 600px) {
//     h1{
//         font-size: 18px;
//         margin-bottom: 5px;
//         font-family: var(--font-onest);
//      }
     
//      .roleContainer{
     
//          margin-bottom: 20px;
     
//          p{
//              margin: 0;
//              font-size: 12px;
//          }
//      }
     
//      h2{
//          font-size: 16px;
//          margin: 30px 0 0px 0;
//      }
     
//      p{
//          font-size: 12px;
//          margin: 5px 0px 20px 0px;
//      }
// }

