@import './mixins';

.DarkmodeBtn {
    border: 0px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0);
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    position: relative;
    overflow: hidden;
    border: 0px;
  
    &:hover {
      transform: scale(1.05);
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.3s ease, transform 0.3s ease;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 0px;
    }
  
    .fadeIn {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      pointer-events: auto;
    }
  
    .fadeOut {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
      pointer-events: none;
    }
  }
  