@import './mixins';

//Footer

.footer{
  display: flex;
  flex-direction:column-reverse;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 90px;
  width: 100vw;
  position:fixed;
  bottom: 0;
  z-index: 5000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}


.socials{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.IconLink{
  @include iconLink();
  }

.linkWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: fit-content;
  
    .link {
    @include link-styles();
    font-size: 1rem;
    height: 44px
    }
  
    .underline {
    @include underline-effect();
    }
  
    &:hover .underline {
      width: 100%;
    }
  }

  // ipad
@media screen and (min-width: 767px) {
  .footer{
    width: 100vw;
    height: 65px;
    position:fixed;
    bottom: 0;
    z-index: 5000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .linkWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: fit-content;
    height: 44px;
}
}





