@import './mixins';

//Footer
.footer{
  width: 100vw;
  position:fixed;
  bottom: 0;
  z-index: 5000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.socials{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.IconLink{
  @include iconLink();

  &:hover {
    transform: scale(1.1);
  }
  }

.linkWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: fit-content;
  
    .link {
    @include link-styles();
    }
  
    .underline {
    @include underline-effect();
    }
  
    &:hover .underline {
      width: 100%;
    }
  }

@media screen and (max-width: 500px){
  .footer{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    box-sizing: border-box;
    height: 85px;
  }

  .IconLink{
    padding: 5px;
    margin: 10px 7px;
  }

.icon{
  color: white;
  font-size: 10px;
}
}




