@import './mixins';

//Footer

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 60px;
  width: 100vw;
  position:fixed;
  bottom: 0;
  z-index: 5000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.socials{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.IconLink{
  @include iconLink();
  }

.linkWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: fit-content;
  
    .link {
    @include link-styles();
    font-size: 1rem;
    height: 44px
    }
  
    .underline {
    @include underline-effect();
    }
  
    &:hover .underline {
      width: 100%;
    }
  }







