@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kapakana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root {
    --color-accent2: #e8ebc8;
    --color-accent: #b2af98;
    --color-dark: #1B1511;
    --color-light: #fbfffa;

    //From 880px minimize fonts

    /*Fonts*/
    --font-questrial: 'Questrial', sans-serif;
    --font-serif: 'Playfair Display', serif;
    --font-kapakana: 'Kapakana', cursive;
    --font-onest: "Onest", sans-serif;
  }

  .questrial-regular {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .onest {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
  }


  .kapakana {
    font-family: "Kapakana", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  main{
    margin: 0;
  }

  html, body {
    margin: 0;
    padding: 0;
  }

  .App{
    margin: 0;
  }
  
  .App-body{
    background-color: var(--color-light);
    width: 100vw;
    height: 100%;
    margin: 0;
    margin-top: 0;
    z-index: 0;
  }
  
  body.dark .App-body{
    background-color: var(--color-dark);
    color: var(--color-light);
  } 

  h2{
    font-family: var(--font-onest);
    font-weight: 400;
    font-size: 42px;
    margin: 0;
  }

  p{
    font-family: var(--font-onest);
    font-weight: 400;
    font-size: 20px;
  }

  @media screen and (max-width: 1000px){
    h2{
      font-family: var(--font-onest);
      font-weight: 400;
      font-size: 32px;
      margin: 0;
    }

    p{
      font-family: var(--font-onest);
      font-weight: 400;
      font-size: 18px;
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 850px){

    h2{
      font-size: 26px;
    }
    
    p{
      font-size: 16px;
    }

    a{
      font-family: var(--font-questrial);
      color: var(--color-dark);
      font-size: 16px;
    }
  }

  @media screen and (max-width: 660px) {
    h2{
      font-size: 20px;
    }
    
    p{
      font-size: 14px;
    }
  }

  a{
    font-family: var(--font-questrial);
    color: var(--color-dark);
  }

  body.dark a {
    color: var(--color-light);
    }

  img{
    border-radius: 7px;
  }

//Footer
.footer{
  background-color: var(--color-light) 0.5;
  color: var(--color-dark);
  width: 100vw;
  position:fixed;
  bottom: 0;
  z-index: 5000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.socials{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.IconLink{
  background-color: var(--color-accent2);
  padding: 7px;
  margin: 0px 7px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.1);
  }
}

body.dark .IconLink{
 background-color: var(--color-accent);
}

.Icon{
  color: var(--color-accent);
}

body.dark .Icon{
  color: var(--color-accent2);
}

@media screen and (max-width: 500px){
  .footer{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
  }

  .IconLink{
    background-color: var(--color-accent2);
    padding: 5px;
    margin: 10px 7px;
    border-radius: 100%;
    transition: transform 0.5s ease;
  
    &:hover {
      transform: scale(1.1);
    }
  }


.Icon{
  color: var(--color-accent);
  font-size: 10px;
}
}




