@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kapakana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
:root {
    --color-dark: #29211b;
    --color-light: #f6f6f6;
    --color-pink27: rgba(193, 145, 171, 0.20);
    --color-yellow: rgba(255, 153, 0, 0.13);
    --color-orange: #feba6d;
    --color-pink: #eb952d;
    --color-red: #3b0a0a;

    /*Fonts*/
    --font-onest: "Onest", sans-serif;
  }

  .onest {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
  }

  main{
    margin: 0;
  }

  html, body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    background-color: var(--color-light);
  }

  body.dark html, body{
    background-color: var(--color-dark);
    color: var(--color-light);
  } 

    /* larger phones */
@media (min-width: 390px) {
  html {
    font-size: 14px;
    line-height: 24px;
  }
}

      /* ipads */
@media (min-width: 768px) {
  html {
    font-size: 16px;
    line-height: 28px;
  }
}

  /* desktop */
  @media (min-width: 1024px) {
    html {
      font-size: 18px;
      line-height: 34px;
    }
  }

    /* desktop larger */
    @media (min-width: 1200px) {
      html {
        font-size: 20px;
        line-height: 40px;
      }
    }



  .App{
    margin: 0;
  }
  
  .App-body{
    background-color: var(--color-light);
    width: 100vw;
    height: 100%;
    margin: 0;
    margin-top: 0;
    z-index: 0;
    color: var(--color-red);
  }
  
  body.dark .App-body{
    background-color: var(--color-dark);
    color: var(--color-light);
  } 

  h2{
    font-family: var(--font-onest);
    font-weight: bold;
    //font-size: 2rem;
    margin: 0;
    color: var(--color-red);
  }

  body.dark h2{
      color: var(--color-light);
  }

  p{
    font-family: var(--font-onest);
    font-weight: medium;
    font-size: 1rem;
    line-height: 42px;
    letter-spacing: 2px;
    color: var(--color-red);
  }

  body.dark p{
    color: var(--color-light);
  }

  a{
    font-family: var(--font-onest);
    color: var(--color-red);
  }

  body.dark a{
    color: var(--color-light);
  }






 

