@import '../styles/mixins.scss';

//For Graphics
.cardContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 20px;
    height: 300px;
    height: fit-content;
}

.card{
    @include webCard();
    transition: transform 0.3s ease;
    

    .visibleContainer,
    .hiddenContainer{
        transition: opacity 0.3s ease;
    }

    .visibleContainer{
        opacity: 1;
        visibility: visible;
    }

    .hiddenContainer{
       opacity: 0;
       visibility: hidden;
    }

    &:hover {
      transform: scale(1.01); 

      .visibleContainer{
        opacity: 0;
        visibility: hidden;
    }

    .hiddenContainer{
       opacity: 1;
       visibility: visible;
    }
    }


}

@media screen and (max-width: 1100px) {

    .card{
        height: 140px;
        width: 250px;

        .visibleContainer{

            h4{
                font-size: 20px;
            }
        }

        .hiddenContainer{

            p{
                font-size: 16px;
            }
        }
    }
  
}

@media screen and (max-width: 850px) {

    .cardContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

