.parent{
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

.cirkle{
    background-color:rgba(188, 152, 152, 0.27);
    height: 500px;
    width: 500px;
    border-radius: 100%;
    filter: blur(50px);
}

.textContent{
    position: absolute;
    text-align: center;
    width: 800px;
}

.category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto 30px auto;
}

.cities{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 50%;
 margin: auto;
}

.hearts{
    display: flex;
    width: fit-content;
    margin: auto;
}


.heart1{
    padding: -50px;
    margin: -20px;
    height: 150px;
    width: 200px;
}

.heart2{
    rotate: -130deg;
    position: relative;
    top: -15px;
    height: 150px;
    width: 200px;
    margin: 0px;
    padding: -50px;
    margin: 0 -18px 0 -26px;
}

.heart3{
    rotate: 180deg;
    position: relative;
    top: -7px;
    height: 150px;
    width: 200px;
    margin: 0px;
    padding: -50px;
    margin: -20px;
}