@import './mixins';
  
// 
  //Home Page
  .homeSection{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
    //background-color: rgba(255, 192, 203, 0.701);
    }
    
    .textContent{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: clamp(59vh, 116vw, 65vh);
        letter-spacing: 3px;
        padding: 0px 5px;
        box-sizing: border-box;
        z-index: 5;

        .heading{
          text-align: center;
          height: fit-content;
          margin-top: 0px;

          h1{
            font-size: 2rem;
            font-family: var(--font-onest);
            line-height: 2.7rem;
            margin: 0;
            letter-spacing: 2.5px;
          }
  
          .name{
            font-size: 2rem;
            line-height: 1rem;
            margin-left: 0px;
            font-family: var( --font-kapakana);
          }
        }

        p{
        font-size: 1rem;
        line-height: 1.8rem;
        align-self: center;
        text-align: center
      }

      span{
        @include orange();
      }
    }

    .circle{
      @include circle();
      height: 300px;
      width: 300px;
      position: absolute;
      z-index: 1;
    }
    
    .hearts{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        height: 40vh;
        width: 85vw;
        padding: 0px;
        box-sizing: border-box;
        margin: 0px;
        position: absolute;
        overflow: hidden;
        z-index: 2;
    }

    .heart{
      @include hearts();
      height: auto;
      width: 31%;
      position: absolute;
      z-index: 3;
      margin: 0px;
      opacity: 0.65;
    }

    @keyframes MovingHearts{
      0% { transform: scale(1);}
      50% { transform: scale(1.05);}
      100% {transform: scale(1);}
    }

    @keyframes ShadowAnimation {
      0% { transform: scale(1);}
      50% { transform: scale(0.95);}
      100% {transform: scale(1);}
    }

    .heart1{
       rotate: -10deg;
       bottom: 110px;
       left: 0vw;
       animation: MovingHearts 5s 1s infinite ease-in-out alternate;
    }
    
    .heart2{
      rotate: -110deg;
      left: 17vw;
      bottom: 150px;
      animation: MovingHearts 5s 2s infinite ease-in-out alternate;
    }
    
    .heart3{
     right: 21vw;
     bottom: 90px;
     rotate: 170deg;
     animation: MovingHearts 5s 3s infinite ease-in-out alternate;
    }

    .heart4{
      right: 0px;
      bottom: 140px;
      rotate: 15deg;
      animation: MovingHearts 5s 4s infinite ease-in-out alternate;
     }

  //    .heartShadows{
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;
  //     margin: auto;
  //     height: 40vh;
  //     width: 100vw;
  //     padding: 0px;
  //     box-sizing: border-box;
  //     margin: 0px;
  //     position: absolute;
  //     overflow: hidden;
  //     z-index: 1;
  // }

  // .shadow{
  //   @include hearts();
  //   height: auto;
  //   width: 27%;
  //   position: absolute;
  //   z-index: 2;
  //   margin: 0px;
  //   opacity: 0.2;
  // }

  // .shadow1{
  //   rotate: -10deg;
  //   bottom: 105px;
  //   left: 15px;
  //    //animation: ShadowAnimation 5s 1s infinite ease-in-out alternate;
  // }
  
  // .shadow2{
  //   rotate: -110deg;
  //   left: 21vw;
  //   bottom: 145px;
  //     animation: ShadowAnimation 5s 2s infinite ease-in-out alternate;
  // }
  
  // .shadow3{
  //   right: 25vw;
  //   bottom: 80px;
  //   rotate: 170deg;
  //  //animation: ShadowAnimation 5s 3s infinite ease-in-out alternate;
  // }

  // .shadow4{
  //   right: 22px;
  //   bottom: 130px;
  //   rotate: 10deg;
  //  //animation: ShadowAnimation 5s 4s infinite ease-in-out alternate;
  //  }


/*  larger mobiles */
@media screen and (min-width: 390px) and (max-width: 430px) and (orientation: portrait) {
  .textContent{
    height: 53vh;
  }

  .hearts{
    height: 30vh;
    width: 90vw;
  }

  .heart{
    width: 32%;
  }

  .heart1{
    bottom: 100px;
    left: 0vw;
  }

  .heart2{
  left: 19vw;
  bottom: 140px;
  }

  .heart3{
  right: 23vw;
  bottom: 65px;
  }

  .heart4{
  right: 0px;
  bottom: 125px;
  }

  .heartShadows{
    height: 30vh;
  }
}



 

// ipad
@media screen and (orientation:portrait) and (min-width: 767px) {
    
    .textContent{
        justify-content: space-between;
        align-items:flex-start;
        width: 100vw;
        height: 70vh;
        padding: 0px 50px;

        .heading{
          text-align: left;
          height: fit-content;
          margin-top: 0px;

          h1{
            font-size: clamp(2rem, 4vw, 2.4rem);
            line-height: 2.8rem;
            letter-spacing: 2.5px;
          }
  
          .name{
            font-size: clamp(2rem, 4vw, 2.5rem);
            line-height: 1.8rem;
            margin-left: 0px;
          }
        }

        p{
          font-size: clamp(1rem, 2vw, 1.2rem);
        line-height: 2.2rem;
        align-self:flex-end;
        text-align: left;
        width: clamp(390px, 45vw, 450px);
      }
    }

    .circle{
      height: 600px;
      width: 600px;
    }
    
    .hearts{
        height: 90vh;
        width: 90vw;
    }

    .heart{
      width: 38%;
    }

    .heart1{
       rotate: -20deg;
       bottom: 5%;
       left: 0vw;
    }
    
    .heart2{
      rotate: -130deg;
      left: 10vw;
      bottom: 32%;
    }
    
    .heart3{
     right: 10vw;
     top: 35%;
     rotate: 160deg;
    }

    .heart4{
      right: 0px;
      top: 5%;
      bottom: auto;
      rotate: 15deg;
     }
 
}

   // small desctop
   @media screen and (min-width: 1024px) and (max-width: 1439px) {
    .textContent{
      justify-content: space-between;
      align-items:flex-start;
      width: 100vw;
      height: 70vh;
      padding: 0px 50px;

      .heading{
        text-align: left;
        height: fit-content;

        h1{
          font-size: clamp(1.8rem, 3vw, 3rem);
          line-height: clamp(2rem, 4vw, 4rem);
          letter-spacing: 2.5px;
        }

        .name{
          font-size: clamp(1.8rem, 3vw, 2.5rem);
          line-height: 1rem;
        }
      }

      p{
      font-size: clamp(1rem, 1.5vw, 1.4rem);
      line-height: clamp(2.3rem, 2vw, 2.8rem);
      align-self:flex-end;
      text-align: left;
      width: clamp(420px, 42vw, 550px);
    }
  }

  .circle{
    height: 500px;
    width: 500px;
  }
  
  .hearts{
      height: 100vh;
      width: 100vw;
  }

  .heart{
    width: 25%;
  }

  .heart1{
    rotate: -20deg;
    bottom: 5%;
    left: 0vw;
 }
 
 .heart2{
   rotate: -130deg;
   left: 22%;
   bottom: 32%;
 }
 
 .heart3{
  right: 29%;
  top: 7%;
  rotate: 170deg;
 }

 .heart4{
   right: 0px;
   top: 10%;
  }
   }


// Medium desktop
@media (min-width: 1440px) { 
  .textContent{
    justify-content: space-between;
    align-items:flex-start;
    width: 100vw;
    height: 70vh;
    padding: 0px 4vw;

    .heading{
      text-align: left;
      height: fit-content;

      h1{
        font-size: clamp(3rem, 3vw, 5.5rem);
        line-height: clamp(4rem, 4vw, 7.8rem);
        letter-spacing: 2.5px;
      }

      .name{
        font-size: clamp(3rem, 3vw, 5.5rem);
        line-height: 2rem;
      }
    }

    p{
    font-size: clamp(1.5rem, 1.5vw, 2.5rem);
    line-height: clamp(2.8rem, 4vw, 5.7rem);
    align-self:flex-end;
    text-align: left;
    width: clamp(570px, 44vw, 1100px);
  }
}

.circle{
  height: 700px;
  width: 700px;
}

.hearts{
    height: 100vh;
    width: 100vw;
}

.heart{
  width: 25%;
}

.heart1{
  rotate: -20deg;
  bottom: 5%;
  left: 0vw;
}

.heart2{
 rotate: -130deg;
 left: 22%;
 bottom: 32%;
}

.heart3{
right: 29%;
top: 7%;
rotate: 170deg;
}

.heart4{
 right: 0px;
 top: 15%;
}
 }





