@import './mixins';
  
// 
  //Home Page
  .homeSection{
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    }
    
    .textContent{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 80vh;
        letter-spacing: 10px;
        padding: 0px 20px;
        box-sizing: border-box;
        z-index: 5;

        .heading{
          text-align: center;
          height: fit-content;
          margin-top: 0px;

          h1{
            font-size: 1.5rem;
            font-family: var(--font-onest);
            line-height: 2.7rem;
            margin: 0;
            letter-spacing: 7px;
          }
  
          .name{
            font-size: 0.8rem;
            letter-spacing: 8px;
            line-height: 1rem;
            margin-left: 0px;
            font-family: var( --font-onest);
          }
        }

        p{
        font-size: 1rem;
        line-height: 1.7rem;
        align-self: center;
        text-align: center;
        letter-spacing: 4px
      }

      span{
        @include orange();
      }
    }

    .circle{
      @include circle();
      height: 300px;
      width: 300px;
      position: absolute;
      z-index: 1;
    }

    .hearts{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        height: 30vh;
        width: 100vw;
        padding: 0px;
        box-sizing: border-box;
        margin-bottom: 50px;
        position: absolute;
        overflow: hidden;
        z-index: 2;
    }

    .heartWrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      position: relative;
      z-index: 3;
      width: 20vw;
      height: 15vh;
    }

    .heart{
      position: relative;
      margin: 0px;
      opacity: 0.8 !important;
      height: auto;
      width: 23vw !important;
    }

    @keyframes MovingHearts{
      0% { transform: scale(1);}
      50% { transform: scale(1.05);}
      100% {transform: scale(1);}
    }

    @keyframes ShadowAnimation {
      0% { transform: scale(1);}
      50% { transform: scale(0.95);}
      100% {transform: scale(1);}
    }

    .heart1{
       rotate: -10deg;
       animation: MovingHearts 5s 1s infinite ease-in-out alternate;
    }
    
    .heart2{
      rotate: -110deg;
      animation: MovingHearts 5s 2s infinite ease-in-out alternate;
    }
    
    .heart3{
     rotate: 170deg;
     animation: MovingHearts 5s 3s infinite ease-in-out alternate;
    }

    .heart4{
      rotate: 15deg;
      animation: MovingHearts 5s 4s infinite ease-in-out alternate;
     }

  .shadow{
    height: auto;
    width: 20vw !important;
    position: absolute;
    z-index: 2;
    margin: 0px;
    opacity: 0.15;
    top: 35px;
  }

  .shadow1{
    rotate: -10deg;
    animation: ShadowAnimation 5s 1s infinite ease-in-out alternate;
  }
  
  .shadow2{
    rotate: -110deg;
    animation: ShadowAnimation 5s 2s infinite ease-in-out alternate;
  }
  
  .shadow3{
    rotate: 170deg;
    animation: ShadowAnimation 5s 3s infinite ease-in-out alternate;
  }

  .shadow4{
    rotate: 10deg;
    animation: ShadowAnimation 5s 4s infinite ease-in-out alternate;
   }


/*  larger mobiles */
@media screen and (min-width: 390px) and (max-width: 430px) and (orientation: portrait) {

  .homeSection{
    height: 100vh;
    padding: 10vh 15px;
    box-sizing: border-box;
    }
    
    .textContent{
        width: 100%;
        height: 80vh;
        padding: 0px 0px;
        box-sizing: border-box;
        z-index: 5;

        p{
          line-height: 2rem;
        }
    }

    .hearts{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: auto;
      height: 30vh;
      width: 100vw;
      padding: 0 15px;
      margin-bottom: 30px;
  }

    .heart{
      width: 29vw !important;
    }

    .heart1{
      rotate: -20deg;
      top: 20px;
   }
   
   .heart2{
     rotate: -130deg;
     bottom: 20px;
     right: 6px;
   }
   
   .heart3{
    rotate: 165deg;
    top: 40px;
    right: 8px;
   }

   .heart4{
     rotate: 20deg;
     bottom: 20px;
    }

 .shadow{
   height: auto;
   width: 29vw !important;
   position: absolute;
   top: 0px;
 }

 .shadow1{
   rotate: -20deg;
   top: 70px;
 }
 
 .shadow2{
   rotate: -110deg;
   top: 0px;
 }
 
 .shadow3{
   rotate: 170deg;
   top: 90px;
 }

 .shadow4{
   rotate: 20deg;
   top: 15px;
  }
}

/*  larger then mobiles/between ipads */
@media screen and (min-width: 431px)  {

  .textContent{
    height: clamp(58vh, 75vw, 75vh);
    padding: 0;
    margin: 0;
    justify-content: space-between;

    p{
      width: 70%;
    }
  }
}


// ipad
@media screen and (orientation:portrait) and (min-width: 767px) {
  
  .homeSection{
    height: 100vh;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    }   

    .textContent{
      position: absolute;
      top: 12vh;
      display: flex;
        align-items:baseline;
        justify-content:baseline;
        width: 100vw;
        height: fit-content;
        padding: 0px 50px;

        .heading{
          text-align: left;
          height: fit-content;
          margin-top: 0px;

          h1{
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 2.5px;
          }
  
          .name{
            font-size: 1rem;
            line-height: 2.5rem;
            margin-left: 0px;
          }
        }

        p{
        font-size: 1rem;
        line-height: 2.2rem;
        align-self:baseline;
        text-align: left;
        width: 55vw;
      }
    }

    .circle{
      height: 600px;
      width: 600px;
      margin: auto;
      background-color: rgba(255, 192, 203, 0.83);
    }
    
    .hearts{
      margin-bottom: 0px;
      padding: 0px;
      width: 90vw;
      justify-content: space-between;
  }

  .heartWrapper{
    width: 24vw;
    height: 100vh;
  }

    .hearts{
        height: 90vh;
        width: 95vw;
    }

    .heart{
      width: 33vw !important;
      position: absolute;
    }

    .heart1{
       rotate: -20deg;
       bottom: 10vh;
       left: 0vw;
    }
    
    .heart2{
      rotate: -130deg;
      right: 3vw;
      bottom: 35vh;
    }
    
    .heart3{
     left: 5vw;
     top: 37vh;
     rotate: 160deg;
    }

    .heart4{
      right: 0px;
      top: 10vh;
      rotate: 15deg;
     }

     .shadow{
      width: 30vw !important;
    }
  
    .shadow1{
      left: 2vw;
      top: 75vh;
      rotate: -20deg;
    }
    
    .shadow2{
      rotate: -130deg;
      left: -9vw;
      top: 50vh;
    }
    
    .shadow3{
      top: 44vh;
      left: 9vw;
      rotate: 160deg;
    }
  
    .shadow4{
      rotate: 15deg;
      top: 16vh;
      right: 2vw;
     }
 
}

   // small desctop
   @media screen and (min-width: 1024px) {
   
    .textContent{
      position: absolute;
      width: 100vw;
      height: fit-content;
      padding: 0px 40px;
      text-align: left;
      display: flex;
      justify-content: baseline;
      align-items: baseline;
      bottom: 12vh;

        h1{
          font-size: 1.6rem;
          line-height: 2.5rem;
          letter-spacing: 10px;
          text-align: left;
        }

        .name{
          font-size: 1rem;
          letter-spacing: 10px;
          text-align: left;
          align-self:baseline;
        }

      p{
      font-size: 1rem;
      line-height: 2rem;
      align-self:baseline;
      text-align: left;
      margin-right: 0px;
      width: 50vw;
    }
  }

  .circle{
    height: 500px;
    width: 500px;
  }

  .hearts{
    height: 100vh;
    width: 100vw;
    margin-bottom: 50px;
}

.heartWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 25vw;
  height: 100vh;
}
  
  .hearts{
    height: 100vh;
    width: 90vw;
  }

  .heart1{
    rotate: -20deg;
    bottom: 0vh;
    bottom: 14vw;
 }
 
 .heart2{
   rotate: -135deg;
   left: 5vw;
   bottom: 10vh;
 }
 
 .heart3{
  left: 12vw;
  bottom: 20vh;
  rotate: 160deg;
 }

 .heart4{
   right: 2vw;
   top: 20vh;
  }

  .shadow1{
    left: 2vw;
    top: 20vh;
    rotate: -20deg;
  }
  
  .shadow2{
    rotate: -140deg;
    left: 2vw;
    top: 30vh;
  }
  
  .shadow3{
    top: 26vh;
    left: 10vw;
    rotate: 160deg;
  }

  .shadow4{
    rotate: 15deg;
    top: 65vh;
    right: 2vw;
   }
   }


