@import './mixins';
  
// 
  //Home Page
  .homeSection{
    width: 100vw;
    height: 90vh;
    padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    }
    
    .textContent{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 80vh;
        letter-spacing: 3px;
        padding: 0px 5px;
        box-sizing: border-box;
        z-index: 5;

        .heading{
          text-align: center;
          height: fit-content;
          margin-top: 0px;

          h1{
            font-size: 2rem;
            font-family: var(--font-onest);
            line-height: 2.7rem;
            margin: 0;
            letter-spacing: 2.5px;
          }
  
          .name{
            font-size: 2rem;
            line-height: 1rem;
            margin-left: 0px;
            font-family: var( --font-kapakana);
          }
        }

        p{
        font-size: 1rem;
        line-height: 1.8rem;
        align-self: center;
        text-align: center
      }

      span{
        @include orange();
      }
    }

    .circle{
      @include circle();
      height: 300px;
      width: 300px;
      position: absolute;
      z-index: 1;
    }

    .hearts{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        height: 100vh;
        width: 100vw;
        padding: 0px;
        box-sizing: border-box;
        margin-bottom: 50px;
        position: absolute;
        overflow: hidden;
        z-index: 2;
    }

    .heartWrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      position: relative;
      z-index: 3;
      width: 20vw;
      height: 15vh;
    }

    .heart{
      position: relative;
      margin: 0px;
      opacity: 0.8 !important;
      height: auto;
      width: 23vw !important;
    }

    @keyframes MovingHearts{
      0% { transform: scale(1);}
      50% { transform: scale(1.05);}
      100% {transform: scale(1);}
    }

    @keyframes ShadowAnimation {
      0% { transform: scale(1);}
      50% { transform: scale(0.95);}
      100% {transform: scale(1);}
    }

    .heart1{
       rotate: -10deg;
       animation: MovingHearts 5s 1s infinite ease-in-out alternate;
    }
    
    .heart2{
      rotate: -110deg;
      animation: MovingHearts 5s 2s infinite ease-in-out alternate;
    }
    
    .heart3{
     rotate: 170deg;
     animation: MovingHearts 5s 3s infinite ease-in-out alternate;
    }

    .heart4{
      rotate: 15deg;
      animation: MovingHearts 5s 4s infinite ease-in-out alternate;
     }

  .shadow{
    height: auto;
    width: 20vw !important;
    position: absolute;
    z-index: 2;
    margin: 0px;
    opacity: 0.15;
    top: 35px;
  }

  .shadow1{
    rotate: -10deg;
    animation: ShadowAnimation 5s 1s infinite ease-in-out alternate;
  }
  
  .shadow2{
    rotate: -110deg;
    animation: ShadowAnimation 5s 2s infinite ease-in-out alternate;
  }
  
  .shadow3{
    rotate: 170deg;
    animation: ShadowAnimation 5s 3s infinite ease-in-out alternate;
  }

  .shadow4{
    rotate: 10deg;
    animation: ShadowAnimation 5s 4s infinite ease-in-out alternate;
   }


/*  larger mobiles */
@media screen and (min-width: 390px) and (max-width: 430px) and (orientation: portrait) {

  .homeSection{
    height: 100vh;
    padding: 10vh 0;
    box-sizing: border-box;
    }
    
    .textContent{
        height: 70vh;
    }

    .heart{
      width: 24vw !important;
    }
}

/*  larger then mobiles/between ipads */
@media screen and (min-width: 431px)  {
  .textContent{
    height: clamp(65vh, 60vw, 75vh);

    p{
      width: 70%;
    }
  }

}



 

// ipad
@media screen and (orientation:portrait) and (min-width: 767px) {
  
  .homeSection{
    height: 100vh;
    padding-top: 0px;
    }   

    .textContent{
        justify-content: space-between;
        align-items:flex-start;
        width: 100vw;
        height: 70vh;
        padding: 0px 50px;

        .heading{
          text-align: left;
          height: fit-content;
          margin-top: 0px;

          h1{
            font-size: clamp(2.5rem, 4vw, 2.4rem);
            line-height: 3.5rem;
            letter-spacing: 2.5px;
          }
  
          .name{
            font-size: clamp(2.5rem, 4vw, 2.5rem);
            line-height: 2.5rem;
            margin-left: 0px;
          }
        }

        p{
          font-size: clamp(1rem, 2vw, 1.2rem);
        line-height: 2.2rem;
        align-self:flex-end;
        text-align: left;
        width: 37ch;
      }
    }

    .circle{
      height: 600px;
      width: 600px;
    }
    
    .hearts{
      margin-bottom: 50px;
      padding: 0px;
      width: 90vw;
      justify-content: space-between;
  }

  .heartWrapper{
    width: 24vw;
    height: 100vh;
  }

    .hearts{
        height: 90vh;
        width: 90vw;
    }

    .heart{
      width: 33vw !important;
      position: absolute;
    }

    .heart1{
       rotate: -20deg;
       bottom: 10vh;
       left: 0vw;
    }
    
    .heart2{
      rotate: -130deg;
      right: 3vw;
      bottom: 35vh;
    }
    
    .heart3{
     left: 5vw;
     top: 37vh;
     rotate: 160deg;
    }

    .heart4{
      right: 0px;
      top: 10vh;
      rotate: 15deg;
     }

     .shadow{
      width: 30vw !important;
    }
  
    .shadow1{
      left: 2vw;
      top: 75vh;
      rotate: -20deg;
    }
    
    .shadow2{
      rotate: -130deg;
      left: -9vw;
      top: 50vh;
    }
    
    .shadow3{
      top: 44vh;
      left: 9vw;
      rotate: 160deg;
    }
  
    .shadow4{
      rotate: 15deg;
      top: 16vh;
      right: 2vw;
     }
 
}

   // small desctop
   @media screen and (min-width: 1024px) and (max-width: 1439px) {
    .textContent{
      justify-content: space-between;
      align-items:flex-start;
      width: 100vw;
      height: 70vh;
      padding: 0px 50px;

      .heading{
        text-align: left;
        height: fit-content;

        h1{
          font-size: clamp(1.8rem, 3vw, 3rem);
          line-height: clamp(2rem, 4vw, 4rem);
          letter-spacing: 2.5px;
        }

        .name{
          font-size: clamp(1.8rem, 3vw, 2.5rem);
          line-height: 1rem;
        }
      }

      p{
      font-size: clamp(1rem, 1.5vw, 1.4rem);
      line-height: clamp(2.3rem, 2vw, 2.8rem);
      align-self:flex-end;
      text-align: left;
      width: clamp(420px, 42vw, 550px);
    }
  }

  .circle{
    height: 500px;
    width: 500px;
  }

  .hearts{
    height: 100vh;
    width: 100vw;
    margin-bottom: 50px;
}

.heartWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 25vw;
  height: 100vh;
}
  
  .hearts{
      height: 100vh;
      width: 100vw;
  }

  .heart{
    width: 24%;
  }

  .heart1{
    rotate: -20deg;
    bottom: -23vh;
    left: 0vw;
 }
 
 .heart2{
   rotate: -130deg;
   right: 1vw;
   bottom: -5vh;
 }
 
 .heart3{
  right: 3vw;
  top: -18vh;
  rotate: 170deg;
 }

 .heart4{
   right: 0px;
   top: -13vh;
  }

  .shadow1{
    left: 2vw;
    top: 67vh;
    rotate: -20deg;
  }
  
  .shadow2{
    rotate: -130deg;
    left: 2vw;
    top: 50vh;
  }
  
  .shadow3{
    top: 26vh;
    left: 0vw;
    rotate: 160deg;
  }

  .shadow4{
    rotate: 15deg;
    top: 30vh;
    right: 2vw;
   }
   }


// Medium desktop
@media (min-width: 1440px) { 
  .textContent{
    justify-content: space-between;
    align-items:flex-start;
    width: 100vw;
    height: 70vh;
    margin-top: 5vh;
    padding: 0px 4vw;

    .heading{
      text-align: left;
      height: fit-content;

      h1{
        font-size: clamp(3rem, 3vw, 5.5rem);
        line-height: clamp(4rem, 4vw, 7.8rem);
        letter-spacing: 2.5px;
      }

      .name{
        font-size: clamp(3rem, 3vw, 5.5rem);
        line-height: 2rem;
      }
    }

    p{
    font-size: clamp(1.4rem, 1.5vw, 2.5rem);
    line-height: clamp(2.8rem, 3vw, 4rem);
    align-self:flex-end;
    text-align: left;
    width: clamp(570px, 44vw, 1100px);
  }
}

.circle{
  height: 700px;
  width: 700px;
}

.hearts{
  height: 100vh;
  width: 100vw;
  margin-bottom: 50px;
}

.heartWrapper{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
z-index: 3;
width: 25vw;
height: 100vh;
}

.hearts{
    height: 100vh;
    width: 100vw;
}

.heart{
  width: 24%;
}

.heart1{
  rotate: -20deg;
  bottom: -23vh;
  left: 0vw;
}

.heart2{
 rotate: -130deg;
 right: 1vw;
 bottom: -5vh;
}

.heart3{
right: 3vw;
top: -18vh;
rotate: 170deg;
}

.heart4{
 right: 0px;
 top: -13vh;
}

.shadow1{
  left: 2vw;
  top: 67vh;
  rotate: -20deg;
}

.shadow2{
  rotate: -130deg;
  left: 2vw;
  top: 50vh;
}

.shadow3{
  top: 26vh;
  left: 0vw;
  rotate: 160deg;
}

.shadow4{
  rotate: 15deg;
  top: 30vh;
  right: 2vw;
 }

 }





