@import './mixins';

a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img{
        margin: 0 3px;
        height: 50px;
        width: 50px;
        opacity: 0.75;
        z-index: 1;
    }
 
    p{
        @include iconLink();
        position: absolute;
        margin: auto;
        margin-left: 2px;
        margin-top: 0px;
        z-index: 2;
        opacity: 0.75;
    }
}

a:hover{
   animation: linkAnimation 1s ease-in-out forwards;
}

@keyframes linkAnimation {
    0% { transform: scale(1);}
    100% { transform: scale(1.1);}
}

@media screen and (max-width: 500px) {
    a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    
        img{
            margin: 0 3px;
            height: 45px;
            width: 45px;
        }
     
        p{
            position: absolute;
            margin: auto;
            margin-left: 2px;
            margin-top: 2px;
            font-size: 12px;
        }
    }
}