//Homepage

//Menu buttons
@mixin btnRing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  margin: 7px 0px;
  border-radius: 999px;
  border: 0.5px solid var(--color-dark);

  :global(.dark) & {
    border: 0.5px solid var(--color-light);
  }
}

@mixin button{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 0px 7px;
  border-radius: 999px;
  color: var(--color-dark);
  cursor: pointer;
  background-size: 100% 200%; 
  background-position: 0 0;
  background: linear-gradient(
  180deg,
  #ffffff 0%,
  #eae4e2 50%,
  #d1c7c1 100%
  );
  border: 0px;
  transition: background-position 1s ease;

  :global(.dark) & {
    color: var(--color-light);
    background: linear-gradient(
      180deg,
      #746569 0%,
      #3a3335 50%,
      #141010 100%
    );
  }
}

@mixin btnText{
  position: relative;
  display: flex;
  z-index: 1;
  margin: 3px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  white-space: nowrap;
}

@mixin btnBefore{
  content: "";
  position: absolute;
  inset: -5px;
  border-radius: inherit;
  z-index: 0;  
  backdrop-filter: blur(1px); 
}

@mixin btnHover{

  background-position: 0 100%;

  background: linear-gradient(
    180deg,
    #d1c7c1 0%,
    #eae4e2 50%,
    #ffffff 100%
  );

  :global(.dark) & {
    background: linear-gradient(
      180deg,
      #141010 0%,
      #3a3335 50%,
      #746569 100%
    );
  }

}

//Modal background and inside colors
@mixin modalBackground{
  background-color: #39333397;

  :global(.dark) & {
   background-color: #ffffff2a;
  }
}

@mixin modalContent{
   background-color: var(--color-light);

   :global(.dark) & {
    background-color: var(--color-dark);
   }
}

//Modal exit btn
@mixin modalExitBtn{
  border: 2px solid var(--color-dark);
  stroke: var(--color-dark);
  color: var(--color-dark);
  border-radius: 100px;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: transform 2s ease;

  &:hover{
   transform: scale(1.1);

  }

  :global(.dark) & {
    border: 2px solid var(--color-light);
    stroke: var(--color-light);
    color: var(--color-light);
   }
}


//Span color
@mixin orange {
color: var(--color-pink);

  :global(.dark) & {
    color: var(--color-orange);
  }
}

//Icon colors
@mixin iconsOrange{
  fill: var(--color-pink);
  stroke: var(--color-pink);
  height: 30px;
  width: 30px;
  margin-right: 30px;

  :global(.dark) & {
    fill: var(--color-orange);
    stroke: var(--color-orange);
  }
}

//text colors
@mixin textColor {
  color: var(--color-dark);

  :global(.dark) & {
    color: var(--color-light);
  }
}

//Links
  @mixin link-styles {
    text-decoration: none;
    font-family: var(--font-onest);
    letter-spacing: 2px;
    color: var(--color-red);
    position: relative;
    padding-bottom: 1px;
  
    :global(.dark) & {
      color: var(--color-light);
    }
  }
  
  @mixin underline-effect {
    height: 1px;
    width: 0%;
    background-color: var(--color-red);
    transition: width 0.3s ease;
    transform-origin: center;
  
    :global(.dark) & {
      background-color: var(--color-light);
    }
  
    &:hover {
      width: 100%;
    }
  }
  
  .linkWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: fit-content;
  
    .link {
      @include link-styles;
    }
  
    .underline {
      @include underline-effect;
    }
  }

  @mixin icons{
    fill: var(--color-red);
    stroke: var(--color-red);
    height: 30px;
    width: 30px;
    margin-right: 30px;

    :global(.dark) & {
      fill: var(--color-orange);
      stroke: var(--color-orange);
    }
  }

  @mixin iconLink{
    padding: 7px;
    margin: 0px 7px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    color: var(--color-dark);

    :global(.dark) & {
      color: var(--color-white);
    }
  }

  @mixin iconMenu {
    stroke: var(--color-red);

    :global(.dark) & {
   stroke: var(--color-light);
    }
  }

  @mixin gradiant{
    background: linear-gradient(to bottom, #ffffff00 0%,  #ff990031 50%, #ffffff00 100%);

    :global(.dark) & {
      background: linear-gradient(to bottom, #1B1511 0%, #ae8ea05b 50%, #1B1511 100%);
    }
  }

  //background homepage 
  @mixin gradientCircle {
    background:
      radial-gradient(
        circle at center,
        rgba(255, 153, 0, 0.20) 0%,
        rgba(255, 153, 0, 0.15) 20%,
        rgba(255, 153, 0, 0) 40%
      );
  
    :global(.dark) & {
      background:
        radial-gradient(
          circle at center,
          rgba(202, 152, 152, 0.302) 0%,
          rgba(180, 135, 135, 0.2) 20%,
          var(--color-dark) 40%
        );
    }
  }
  
  
//background About
@mixin gradiant2 {

  background: linear-gradient(
    to bottom,
    rgba(255, 153, 0, 0) 0%,       
    var(--color-yellow) 40%,         
    var(--color-yellow) 50%,         
    rgba(255, 153, 0, 0) 100%        
  );

  :global(.dark) & {
    background: linear-gradient(
      to bottom,
      rgba(188, 152, 152, 0) 0%,    
      var(--color-pink27) 40%,       
      var(--color-pink27) 50%,       
      rgba(188, 152, 152, 0) 100%    
    );
  }
}

//Background Projects
@mixin gradiant3 {

  background: linear-gradient(
    to bottom,
    rgba(255, 153, 0, 0) 0%,       
    var(--color-yellow) 60%,         
    var(--color-yellow) 70%,         
    rgba(255, 153, 0, 0) 100%        
  );

  :global(.dark) & {
    background: linear-gradient(
      to bottom,
      rgba(188, 152, 152, 0) 0%,    
      var(--color-pink27) 60%,       
      var(--color-pink27) 70%,       
      rgba(188, 152, 152, 0) 100%    
    );
  }
}


//card design
  @mixin card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(227, 213, 206, 0.942);
    color: var(--color-dark);
  
    height: 215px;
    width: 325px;
  
    flex: 0 0 auto;
    scroll-snap-align: center;
  
    padding: 10px;
    box-sizing: border-box;
    border-radius: 7px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    transform: scale(0.92);
  
    transition: transform 0.5s ease, opacity 0.35s ease;
  
    box-shadow:
      inset 2px 2px 6px rgba(0, 0, 0, 0.25),
      inset -2px -2px 6px rgba(255, 255, 255, 0.6);

      @media  screen and (min-width:  767px) {
        height: 240px;
        width: 350px;
      }

      @media screen and (min-width: 1250px) {
        width: 400px;
        height: 265px;
    }

      @media screen and (min-width: 1500px) {
        height: 350px;
        width: 510px;
    }
  
    .visibleContainer {
      position: absolute;
      inset: 0;
      padding: 15px;
      display: flex;
      flex-direction: column;

      img{
        width: 100%;
        margin: 0 auto;
      }

      h4{
        font-family: var( --font-onest);
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 2rem;
        text-align: left;
        width: 100%;
        margin: 5px auto 0 auto;
        letter-spacing: 2px;
        @include textColor();

        @media  screen and (min-width: 767px) {
          font-size: 1rem;
        }

        @media  screen and (min-width: 1024px) {
          margin: 0px auto 0 auto;
        }

        @media  screen and (min-width: 1500px) {
          font-size: 1.4rem;
          line-height: 2.2rem;
        }
      }

      p{
        width: 100%;
        margin:  0px auto;
        line-height: 0.8rem;
        font-size: 0.8rem;
        font-weight: 200;
        @include textColor();

        @media  screen and (min-width: 1024px) {
          font-size: 0.6rem;
          line-height: 0.4rem;
        }

        @media  screen and (min-width: 1500px) {
          font-size: 1rem;
          line-height: 1rem;
        }
      }

      &:focus-visible {
          transform: scale(1.04);

      }

      &:active {
        transform: scale(0.98);
      }
    }
  
    .hiddenContainer {
      position: absolute;
      inset: 0;
      padding: 15px;

      p{
        line-height: 1.5rem;
        font-size: 0.8rem;
        font-weight: 200;
        width: 100%;
        margin: 0 auto;
        @include textColor();
      }
    }
  
    :global(.dark) & {
      background-color: #634d5487;
      color: var(--color-light);
      box-shadow:
        inset 2px 2px 6px rgba(0, 0, 0, 0.862),
        inset -2px -2px 6px rgba(128, 113, 113, 0.6);
    }
  }


  //Navigation background header & Footer
  @mixin backgroundProjects{
    background-color:  #f7f3f3ec;


    :global(.dark) & {
      background-color: #29211bf1;
    }
  }

  //Hamburger background
  @mixin menuBackground() {
    background-color: #f6f6f6d5;

    :global(.dark) & {
      background-color: #29211bd5;
    }
  }

//Solana locker container
  @mixin GlassWindow{
    background-color: rgba(217, 203, 203, 0.475);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(223, 215, 215, 0.527);

    :global(.dark) & {
      background-color: rgba(26, 21, 21, 0.603);
      backdrop-filter: blur(10px);
      border: 2px solid rgba(45, 45, 45, 0.3);
    }
  }




 









