@import './mixins';

.modalBackground{
    background-color: #1b151158;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7000;
    backdrop-filter: blur(10px); /* This blurs content *behind* it */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.modalContent{
    width: 80vw;
    height: 80vh;
    margin: auto;
    z-index: 8000;
    border-radius: 10px;
    background-color: var(--color-light);
    padding: 20px;
    background-color: pink;
}

.scrollDiv{
    border-radius: 10px;
    width: 100%;
    height: 90%;
    overflow: scroll;  
    background-color: var(--color-light);
    color: var(--color-dark);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    box-sizing: border-box;
}

.textContent{
    width: 50%;
    text-align: left;
    padding-top: 20px;
    font-family: var(--font-onest);
    background-color: green;
    color: black;

    h1{
        color: pink;
    }  
}

