@import './mixins';

.parent{
   width: 100vw;
   height: 50px;
    position:fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 10px 10px;
    box-sizing: border-box;
    z-index: 5000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); // for Safari
}

//Hamburger menu
.hamburgerMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100vw;
}


.menuButton{
  display: block;
  background-color: rgba(255, 255, 255, 0);
  border: #fbfffa00;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: white;
  fill: white;

  &.open{
    transform: rotate(90deg);
  }
}

.pinkHeartLogo{
  height: 34px;
  width: auto;
}

.menuIcon{
@include iconMenu;;
}



.hamburger{
display: flex;
@include hamburgerMenuColor;  
height: 100vh;
width: 100vw;
box-sizing: border-box;
top: 50px;
left: 0;
position: absolute;
display: flex;
justify-content: right;
text-align: right;
transform: translateY(-5px);
transition:  opacity 1s ease, transform 1s ease;
opacity: 0;
pointer-events: none; 

&.open{ 
opacity: 1;
transform: translateY(0);
pointer-events: auto;
}
}

.hamburgerLinks{
display: none;  
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: right;
height: 200px;
width: 80vw;
margin: auto;
position: relative;

a{
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1rem;
  position: relative;
  transition: transform 0.2s ease;
  filter: blur(0);
  color: var(--color-red);
  font-family: var(--font-onest);
}
}

.hoverIcon {
  display: flex;
  justify-content: right;
  align-items: center;

  .selector {
    rotate: -90deg;
    height: 40px;
    margin-right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .selectorPink {
    height: 30px;
    margin-right: 10px;
    rotate: -90deg;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover .selectorPink {
    opacity: 1;
  }

  &:hover .selector {
    opacity: 1;
  }
}

.selector, .selectorPink {
  transition: opacity 0.3s ease;
}




/*Navigation larger screens*/

.mainMenu{
  display: none;
  width: 100vw;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: fit-content;

  .link {
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 1px;
  font-size: 0.7rem;

  }

  .underline {
  @include underline-effect();
  }

  &:hover .underline {
    width: 100%;
  }
}




//Handle menu switch
@media  screen and (min-width: 768px) {

  .hamburgerMenu{
    display: none;
  }

  .mainMenu{
    display: flex;
  }
}