@import './mixins';

/*Navigation*/
.parent{
   width: 100vw;
    position:fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 5000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); // for Safari
}

.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: fit-content;

  .link {
  @include link-styles();
  }

  .underline {
  @include underline-effect();
  }

  &:hover .underline {
    width: 100%;
  }
}


.menuButton{
  display: none;
  background-color: rgba(255, 255, 255, 0);
  border: #fbfffa00;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: white;
  fill: white;

  &.open{
    transform: rotate(90deg);
  }
}

.menuIcon{
@include iconMenu;;
}

.hamburger{
@include hamburgerMenuColor;  
backdrop-filter: blur(80px); // this blurs the background *behind* the element
-webkit-backdrop-filter: blur(80px);
height: 100vh;
width: 100vw;
box-sizing: border-box;
top: 58px;
left: 0;
position: absolute;
display: flex;
justify-content: right;
text-align: right;
transform: translateY(-5px);
transition:  opacity 1s ease, transform 1s ease;
opacity: 0;
pointer-events: none; 

&.open{ 
opacity: 1;
transform: translateY(0);
pointer-events: auto;
backdrop-filter: blur(80px); // this blurs the background *behind* the element
-webkit-backdrop-filter: blur(80px);
}
}

.hamburgerLinks{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: right;
height: 200px;
width: 80vw;
margin: auto;
position: relative;

a{
  color: var(--color-dark);
  text-decoration: none;
  font-family: var(--font-questrial);
  letter-spacing: 2px;
  font-size: 34px;
  position: relative;
  transition: transform 0.2s ease;
  filter: blur(0);

  &:hover {
    transform: scale(1.1);
  }
}
}

.selector{
rotate: -90deg;
height: 40px;
margin-right: 10px;
}

.hoverIcon {
display: flex;
justify-content: right;
align-items: center;

.selector {
  opacity: 0;
  transition: opacity 0.3s ease;
}

&:hover .selector {
  opacity: 1;
}
}

@media  screen and (max-width: 768px) {

  .menuButton{
      display:block;
  }

  .links{
    display: none;
  }
}