@import "./mixins.scss";

.projectSection{
    height: 100vh;
    box-sizing: border-box;
    padding: 50px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.menu{
    display: flex;
    align-items:end;
    justify-content: space-around;
    width: 320px;
    height: fit-content;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin: 20px auto 0 auto;
}

.downloadRing{
  @include btnRing;

    button{
        @include button;


    // pseudo-element
    &::before {
      @include btnBefore;
    }

    // hover state
    &:hover {
      @include btnHover;
    }

    // text inside button
    span {
      @include btnText;
    }
    }
}

.projectContainer{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    padding: 0px;
    box-sizing: border-box;
    margin-top: 0px;
}  

//Ipad
@media screen and (min-width: 767px) {

    .projectSection{
        justify-content:center;
    }
    
    .menu{
        width: 450px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1024px) {
    
    .menu{
        margin-bottom: 0px;
        box-sizing: border-box;
    }
}






