@import "./mixins.scss";

.projectSection{
    height: 100vh;
    box-sizing: border-box;
    padding: 50px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.menu{
    display: flex;
    align-items:end;
    justify-content: space-around;
    width: 320px;
    height: fit-content;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin: 20px auto 0 auto;
}

.downloadRing{
  @include btnRing;

    button{
        @include button;


    // pseudo-element
    &::before {
      @include btnBefore;
    }

    // hover state
    &:hover {
      @include btnHover;
    }

    // text inside button
    span {
      @include btnText;
    }
    }
}

.projectContainer{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    padding: 0px;
    box-sizing: border-box;
    margin-top: 0px;
}  

//Ipad
@media screen and (min-width: 767px) {

    .projectSection{
        justify-content:center;
    }
    
    .menu{
        width: 450px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1024px) {
    
    .menu{
        margin-bottom: 0px;
        box-sizing: border-box;
    }
}



//Web 3 lock container

.web3Wrapper{
    position: relative; 
    width: 90vw;
    height: 60vh;
    box-sizing: border-box;
 }

.lockContainer{
    @include GlassWindow;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    left: 0;
    top: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    h2{
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 500;
    }

    p{
        font-size: 1rem;
        line-height: 1.8rem;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

:global(.wallet-adapter-button-trigger) {
    background: linear-gradient(
        0deg,
        var(--color-pink),
        var(--color-orange)
      );
    color: var(--color-red);
    font-family: var(--font-onest);
    font-weight: 500;
    font-size: 1rem !important; 
    padding: 8px 20px;  
    margin: 10px 0 20px 0; 
    border-radius: 50px;
    transition: transform 0.2s ease;
  
    &:hover {
      transform: scale(1.03);
      background-color: var(--color-orange) !important;
    }
  }

.noWallet{

    p{
        font-size: 12px !important;
        line-height: 20px !important;
    }

    
    button{
        @include textColor;
        background-color: transparent;
        font-size: 12px !important;
        margin: 0 0 0 5px;
        font-family: var(--font-onest);
        font-weight: 800;
        cursor: pointer;
        border: 0;
        padding: 0;

        &:hover{
            transform: scale(1.03);
        }
    }
}







