@import "./mixins.scss";

.projectSection{
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items:end;
    justify-content: center;
    width: 100vw;
    height: 20vh;
    padding-bottom: 20px;
    box-sizing: border-box;
    margin: 20px auto 0 auto;
}

.projectContainer{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 0px;
    //@include gradiant2;
}  

.projects{
    position: absolute;
    width: 80vw;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}




@media screen and (max-width: 850px) {

    .projectSection{
        padding: 100px 0px;
    }

    .projectContainer{
        @include backgroundProjects();
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        padding: 20px;
        height: 460px;
        margin-top: 0;
        margin: 20px auto;
        border-radius: 20px;
    }

    .menu{
        width: 350px;
    }
}

@media screen and (max-width: 650px) {

    .projectSection{
        padding: 100px 0px;
    }

    .projectContainer{
        @include backgroundProjects();
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        padding: 20px;
        height: 460px;
        margin-top: 0;
        margin: 20px auto;
        border-radius: 20px;
    }

    .menu{
        width: 250px;
    
        button{
            font-size: 16px;
            padding: 7px 10px;
        }
    }
}

@media screen and (max-width: 580px) {

    .projectContainer{
        width: 80%;
    }

}

@media screen and (max-width: 400px) {

    .projectContainer{
        width: 90%;
    }

}





