@import "./mixins.scss";

.projectSection{
    height: 100vh;
    box-sizing: border-box;
    padding: 50px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    @include gradiant3;
}

.menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 335px;
    height: fit-content;
    padding-bottom: 0px;
    box-sizing: border-box;
    margin: 0px auto;
}

.downloadRing{
  @include btnRing;

    button{
        @include button;
        min-width: 140px;

    &::before {
      @include btnBefore;
    }

    &:hover {
      @include btnHover;
    }

    span {
      @include btnText;
    }
    }
}

.projectContainer{
    position: relative;
    box-sizing: border-box;
    display: block;
    justify-content: center;
    width: 100vw;
    height: 300px;
    padding: 0px;
    box-sizing: border-box;
    margin-top: 0px;

    @media (min-width: 1500px) {
        height: 500px;
    }
}  
  

//Ipad
@media screen and (min-width: 600px) {

    .projectSection{
        justify-content:center;
    }
    
    .menu{
        width: 470px;
        margin-bottom: 30px;
    }

    .downloadRing{
        @include btnRing;
      
      
          button{
              @include button;
              min-width: 100px;
            }
        }
}

@media screen and (min-width: 767px) {

    .projectSection{
        justify-content:center;
    }
    
    .menu{
        width: 550px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1024px) {
    
    .menu{
        margin-bottom: 20px;
        box-sizing: border-box;
        width: 650px;
    }
}



//Web 3 lock container
.web3Wrapper{
    position: absolute; 
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
 }

.lockContainer{
    @include GlassWindow;
    position: absolute;
    z-index: 5;
    width: 95%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: auto 2.5%;
    left: 0;
    top: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    h2{
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 500;
    }

    p{
        font-size: 1rem;
        line-height: 1.8rem;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    @media  screen and (min-width: 700px) {
        width: 80%;
        margin: auto 10%;
    }
}

:global(.wallet-adapter-button-trigger) {
    background: linear-gradient(
        0deg,
        var(--color-pink),
        var(--color-orange)
      );
    color: var(--color-red);
    font-family: var(--font-onest);
    font-weight: 500;
    font-size: 1rem !important; 
    padding: 8px 20px;  
    margin: 10px 0 20px 0; 
    border-radius: 50px;
    transition: transform 0.2s ease;
  
    &:hover {
      transform: scale(1.03);
      background-color: var(--color-orange) !important;
    }
  }

.noWallet{

    p{
        font-size: 12px !important;
        line-height: 20px !important;
    }

    
    button{
        @include textColor;
        background-color: transparent;
        font-size: 12px !important;
        margin: 0 0 0 5px;
        font-family: var(--font-onest);
        font-weight: 800;
        cursor: pointer;
        border: 0;
        padding: 0;

        &:hover{
            transform: scale(1.03);
        }
    }
}


//Preview modal
.modalBackground{
    @include modalBackground;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 6000;
    height: 100vh;
    width: 100vw;
}

.modal{
    @include modalContent;
    position: fixed;
    height: fit-content;
    width: 90vw;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    button{
      @include modalExitBtn;  
      align-self: start;

      &:hover{
        transform:scale(1.2);
      }
    }

    video{
        width: 300px;
        height: 180px;
        align-self: center;
        margin: 50px 20px;

        @media (min-width: 650px) {
            width: 500px;
            height: 350px;
        }

        @media (min-width: 900px) {
            width: 660px;
            height: 400px;
        }
    }
}









